table {
    background-color: bisque!important;
    border-radius: 10px;
    ;
}

img {
    padding-left: 50px;
}

.name {
    color: rgb(141, 252, 30);
    padding-left: 20px;
}

.rd {
    color: red;
}

.bl {
    color: rgb(3, 180, 180);
}

.bld {
    color: rgb(80, 80, 247);
}

.blk {
    color: black;
}

.yel {
    color: rgb(182, 182, 5);
}

.br {
    color: brown;
}